<div class="card-container">

  <mat-card class="card" *ngFor='let rule of rules'>
    <mat-card-header>
      <div mat-card-avatar class="header-image" [ngClass]="avatarClass != null ? avatarClass : ''"></div>
      <mat-card-title>Rule no. {{rule.id}}</mat-card-title>
      <mat-card-subtitle>{{rule.value | ruleValue}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Times used: {{rule.used}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="primary" aria-label="Edit rule" (click)="onEditClick(rule.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Remove rule" style="margin-left: 2em;" (click)="onDeleteClick(rule.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
